main section div canvas {
    float: left;
}

a {
    color: inherit;
}

h1 .bx-crosshair {
    font-size: inherit;
    color: var(--primary-light);
}

ul.counter li{
    font-size: 1.5rem;
    list-style:square;
}

section .shops img {
    margin: 0.8em;
}

section.quick-access {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 1em;
}

section.quick-access.in {
    margin: 0;
}

section.quick-access.in>input.links{
    padding: 0.5em 1em;
}

dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background-color: var(--bg-darker);
}

dialog  input {
    margin: 0.5em 0;
}

@media (max-width: 630px) {
    section.quick-access {
        flex-direction: column;
        align-items: center;
    }

    section.quick-access .links {
        margin: 1em 0;
    }
}

@media (max-width: 550px){    
    .product-image, .break-none, .category-icon {
        display: none;
    }
}

section.quick-access .links {
    display: flex;
    text-decoration: inherit;
}

.links {
    margin: 1em 1em;
    background: var(--primary);
    color: var(--white);
    border-color: var(--secondary);
    border-radius: 5px;
    transition: all 0.3s ease;
}

.links input[type="button"] {
    padding: 0.5em 1em;
    background: var(--primary);
    color: var(--white);
    border-color: var(--secondary);
    border-radius: 5px;
    transition: all 0.3s ease;
}

.links:hover, input[type="button"]:hover  {
    background: var(--primary-dark);
    transform: translateY(-0.2em);
}

td .links, td .links input[type="button"]  {
    width: 100%;
    margin: 0;
}

.links#clearbtn {
    margin: 0;
    padding: 0.1em 0.5em;
}

dialog .links{
    padding: 0.5em 1em;
}

.print {
    padding: 0.2em 1em;
}

input {
    font-family: inherit;
}

section.category-list {
    display: flex;
    justify-content: center;
    padding-top: 3em;
    width: 100%;
    height: 100%;
}

section.category-list table tr td {
    font-size: 1.3em;
    list-style: none;
    color: var(--white);
    text-align: center;
    white-space: nowrap;
}

section.category-list table tr th {
    font-size: 1.1em;
    color: var(--white);
}

img.category-icon {
    width: 50px;
}

img.product-image {
    width: 100px;
    filter: drop-shadow(5px 10px 5px #222);
}

img.product-image-big{
    width: 100%;
    filter: drop-shadow(5px 10px 5px #222);
}

img.category-image-big{
    width: 50%;
    filter: drop-shadow(5px 10px 5px #222);
}

tr .category-options {
    color: inherit;
    text-decoration: none;
}

i {
    font-size: 1.5em;
}

.category-options i:hover {
    transform: translateY(-0.3em);
    transition: all 0.1s ease;
}

.category-options.details i:hover {
    color: orange;
}

.category-options.edit i:hover {
    color: var(--primary-light);
}

.category-options.delete i:hover {
    color: var(--secondary);
}

section.product-details {
    display: flex;
    justify-content: center;
    padding-top: 3em;
    width: 60%;
    height: auto;
    transition: all 0.3s ease-in;
}

section.product-details > *{
    color: var(--white);
    text-align: left;
}

section.product-details tr {
    color: var(--white);
    text-align: center;
}

section.product-details.left-align h1{
    text-align: left;
}

section.product-details tr > *{
    padding: 0.5em;
}

@media (max-width: 550px){
    section.product-details tr > *{
        padding: 0.5em 0;
    }

    section.product-details {
        width: 100%;
    }

    td .links {
        width:60%;
    }
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

form {
    width: 100%;
}

form > * {
    margin: auto;
}

table {
    color: var(--white);
    text-align: center;
}

table.cart{
    width: 100%;
    color: black;
}

table.cart th, table.cart td {
    border: 1px solid var(--secondary);
}

.dash-content {
    padding-left: 0.7em;
}

@media (min-height: 720px) {
    #welcome-msg{
        display: none;
    }
}

section.cart {
    height: 34rem;
    background-color: var(--white);
    border: 6px inset gray;
    padding: 0;
    overflow-y: scroll;
}

th {
    padding: 0.3em 0;
}

.th-small {
    width: 15%;
}

.td-small {
    text-align: center;
}

td.td-small>img {
    width: 75px;
}

section.product-to-cart {
    border: 2px solid var(--white);
    overflow-y: scroll;
    height: 34rem;
}

table.product-to-cart {
    width: 100%;
}

section.payment {
    color: var(--white);
    display: flex;
    justify-content: space-between;
    width: 30em;
}

section.payment input[type="button"] {
    margin: 0;
    margin-top: 0.2em;
    padding: 0.4em 1em;
    background: var(--primary);
    color: var(--white);
    border-color: var(--secondary);
    border-radius: 5px;
    transition: all 0.3s ease;
    width: 8em;
}

section.payment h1 {
    text-align: left;
}

div.payment-methods {
    margin-bottom: 1em;
}

.grid-categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 0.2em;
    max-height: 672px;
}

.item-category {
    max-width: 100%;
    border: 0.5em outset var(--white);
    background-color: rgb(153, 146, 136);
    filter: drop-shadow(5px 10px 5px #222);
}

.item-category:hover {
    background-color: var(--bg-darker);
    border: 0.3em outset var(--white);
    transform: scale(104%);
}

.item-category:active {
    border: 0.5em outset var(--white);
    background-color: rgb(153, 146, 136);
    transform: scale(100%);
}

.bx-x {
    color: red;
}

.bx-check {
    color: green;
}

.bx-plus-circle {
    color: var(--white);
}

.devise {
    font-size: 1.5em;
    padding-right: 0.5em;
}

td.td-small>button {
    background-color: transparent;
    border: none;
    transition: 0.03s;
}

td.td-small>button:hover {
    transform: scale(120%);
}

td.td-small>button:active {
    transform: scale(100%);
}

.bx-money-withdraw.list {
    transition: all 0.3s;
}

.bx-money-withdraw.list:hover {
    color: green;
    transform: scale(108%);
}

.bx-down-arrow-alt {
    transition: all 0.4s;
}

.bx-down-arrow-alt:hover {
    color: var(--primary-light);
    transform: scale(108%) rotateZ(180deg);
}

.bx-caret-right-circle {
    transition: all 0.3s;
}

.bx-caret-right-circle:hover {
    color: var(--secondary);
    transform: scale(108%);
}

td.product-row{
    height: 2.5em;
    border-top: 2px solid var(--white);
}

.calculator {
    color: var(--white);
    display: flex;
    justify-content:safe;
}

.calculator #change {
    padding-left: 2em;
}